<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.yumatechnical.konnectandroid">
	<!-- <uses-sdk android:minSdkVersion="4" -->
	<!-- android:targetSdkVersion="14" /> -->
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- ^dialog window - https://stackoverflow.com/questions/5796611/dialog-throwing-unable-to-add-window-token-null-is-not-for-an-application-wi -->
	<uses-permission
		android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
		tools:ignore="ProtectedPermissions" /> <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
<!--	<uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
<!--	<uses-permission android:name="com.google.android.c2dm.permission.RECIEVE" />-->

	<application
		android:name=".Vars"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:hardwareAccelerated="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:networkSecurityConfig="@xml/network_security_config"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:overrideLibrary="com.microsoft.graph.authentication"
		tools:replace="android:hardwareAccelerated"
		tools:targetApi="n">
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
<!--		android:name="android.support.v4.content.FileProvider"-->
		<provider
			android:name="android.support.v4."
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"/>
		</provider>
		<activity android:name=".Helper.MSALActivity"></activity>
		<!--Intent filter to capture System Browser or Authenticator calling back to our app after sign-in-->
		<activity
			android:name="com.microsoft.identity.client.BrowserTabActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="msauth"
					android:host="com.yumatechnical.konnectandroid"
					android:path="/2jmj7l5rSw0yVb/vlWAYkK/YBwk=" />
			</intent-filter>
		</activity>
<!--		<activity android:name=".BrowserTabActivity">-->
<!--			<intent-filter>-->
<!--				<action android:name="android.intent.action.VIEW" />-->

<!--				<category android:name="android.intent.category.DEFAULT" />-->
<!--				<category android:name="android.intent.category.BROWSABLE" />-->
<!--				&lt;!&ndash; <data android:scheme="msal8cd4df27-a31a-4ede-a3b0-f1f7408ac8f5" &ndash;&gt;-->
<!--				&lt;!&ndash; android:host="auth" /> &ndash;&gt;-->
<!--				<data-->
<!--					android:host="com.yumatechnical.konnectandroid"-->
<!--					android:path="/2jmj7l5rSw0yVb/vlWAYkK/YBwk="-->
<!--					android:scheme="msauth" />-->
<!--			</intent-filter>-->
<!--		</activity>-->
		<activity android:name=".InitActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity> <!-- android:label="MainActivity" -->
		<!-- android:theme="@style/Theme.AppCompat" -->
		<activity
			android:name=".MainActivity"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable_sharename" />
		</activity>
		<activity android:name=".SharenameSearchableActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable_sharename" />
		</activity>
		<activity
			android:name=".PlayMedia"
			android:parentActivityName=".MainActivity"
			tools:targetApi="jelly_bean">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity android:name=".Helper.showFTPsettingsActivity" /> <!-- android:theme="@style/PreferencesTheme" -->
		<activity
			android:name=".Settings.SettingsActivity"
			android:label="@string/settings"
			android:parentActivityName=".MainActivity"
			tools:ignore="InnerclassSeparator"
			tools:targetApi="jelly_bean">
			<intent-filter>
				<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity
			android:name="com.dropbox.core.android.AuthActivity"
			android:configChanges="orientation|keyboard"
			android:launchMode="singleTask">
			<intent-filter>
				<data android:scheme="db-0qb7zuth7zcx40s" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".Adapter.LeftArrayAdapter" />

		<service
			android:name=".Service.MyService"
			android:enabled="true"
			tools:ignore="InnerclassSeparator" />
	</application>

</manifest>